{% extends "formbase.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p style="text-align: center; color: red;">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div style="width: 20%; margin: 0 auto;">
        <p style="font-size: 25px; padding-top: 25px;">
            <span>Login to&nbsp;</span>
            <span style="font-family: Georgia;">The Malcolm Project</span>
        </p>
        <form action="#" method="post">
            <label for="em" style="font-size: 16px;">Email:</label><br>
            <input type="email" id="em" name="em" style="font-size: 16px; width: 300px;"/><br><br>
            <label for="pw" style="font-size: 16px;">Password:</label><br>
            <input type="password" id="pw" name="pw" style="font-size: 16px; width: 300px;"/><br><br>
            <p style="font-size: 16px;"><input class="mybutton" type="submit" value="Log in"/></p>
        </form>
        <a href="/signup">Or Sign Up for free!</a>
    </div>
{% endblock %}