{% extends "formbase.html" %}
{% block content %}
<div style="width: 50%; margin: 0 auto;">
    <p style="text-align: center; font-size: 25px; padding-top: 120px;">Welcome to</p>
    <p style="text-align: center; font-size: 70px; font-family: Georgia; padding-top: 0px; padding-bottom: 0;">
        <span style = "color: white">The</span>
        <span style = "color: rgb(226, 189, 26)">Malcolm</span>
        <span style = "color: white">Project</span>
    </p>
    <p style="text-align: center; font-size: 25px; padding-top: 0px;">Organizing peaceful protests worldwide</p>
    <p style="text-align: center; padding-top: 20px;">
        <a class = "mybutton" href = "/explore/">Explore</a>
        &nbsp;
        <a class = "mybutton" href = "/newevent/">Create Protest</a>
    </p>
</div>
{% endblock %}